{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "react",
        "stage-0"
      ],
      "plugins": [
        "istanbul",
        "transform-decorators-legacy"
      ]
    }
  }
}
