*.md
*.sh
*.yml
*.svg
*.gif
.DS_Store
.gitignore
.npmignore
.prettierignore
.babelrc
.editorconfig
.eslintrc
.eslintignore
.stylelintrc.json
package.json
tsconfig.json
tslint.json
CNAME
LICENSE
lib/
es/
dist/
coverage/
yarn.lock
yarn-error.log
npm-debug.log
lerna-debug.log
